* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.Mykola {
    min-height: 100vh;
    background-color: rgb(164, 188, 88);
}
.ruden-sect {
    min-height: 100vh;
    background-color: tomato;
}
.new-section {
    min-height: 100vh;
    background-color: salmon;
}
.arsenii{
    background-color: red;
    min-height: 100vh;
}
.section {
    min-height: 100vh;
    background-color: cyan;
}
.yaro{
    min-height:100vh;
    background-color: cyan;
}
header {
  background-color: blue;
  height: 200px;
}
.blue_section{
    background-color: blue;
    min-height: 100vh;
}

